body {
    background: url(../img/paper.jpg);
    font-size: 16px;
    font-family: Calibri;
}

.list{
    font-weight: bold;
}

.btn-primary:hover{
    background-color: green;
}

.btn-warning {
    background-color: darkorange;
}

.btn-warning:hover {
    background-color: red;
}

a:hover {
    color: royalblue;
    text-decoration: none;
    cursor: pointer;
}

.welcome {
    color: royalblue;
    font-weight: bold;
    position: absolute;
    width: auto;
    height: 50px;
    top: 25%;
    left: 35%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: 25px;
    font-family: 'Comic Sans MS';
}

    .welcome a {
        color: royalblue;
        font-weight: bold;
        text-decoration: none;
        padding: 0 10px;
         -moz-transition: 3s all;
        -webkit-transition: 3s all;
        -o-transition: 3s all;
        transition: 3s all;
    }

        .welcome a:hover {
            color: orange;
            -moz-transition: 3s 1s color, 4s margin-left, 1s font-size ease;
            -webkit-transition: 3s 1s color, 4s margin-left, 1s font-size ease;
            -o-transition: 3s 1s color, 4s margin-left, 1s font-size ease;
            transition: 3s 1s color, 4s margin-left, 1s font-size ease;
            margin-left: 40px;
            font-size: 2.6em;
            cursor: pointer;
        }

    .welcome Navlink:hover {
        color: orange;
        -moz-transition: 3s 1s color, 4s margin-left, 1s font-size ease;
        -webkit-transition: 3s 1s color, 4s margin-left, 1s font-size ease;
        -o-transition: 3s 1s color, 4s margin-left, 1s font-size ease;
        transition: 3s 1s color, 4s margin-left, 1s font-size ease;
        margin-left: 40px;
        font-size: 2.6em;
        cursor: pointer;
    }

    .welcome span.additional {
        opacity: 0;
        display: block;
        color: orange;
        text-shadow: 1px 1px white;
        font-size: 1.8em;
        font-style: italic;
        position: relative;
        line-height: 1.2em;
        -moz-transition: 3s all;
        -webkit-transition: 3s all;
        -o-transition: 3s all;
        transition: 3s all;
    }


    .welcome a:hover + span.additional, .welcome h2:hover + span.additional {
        opacity: 1;
        -moz-transition: 3s opacity;
        -webkit-transition: 3s opacity;
        -o-transition: 3s opacity;
        transition: 3s opacity;
    }

header h1 {
    font: bold 3em calibri;
    line-height: 90px;
    text-align: center;
    color: #154360;
    margin: 10px 10px 0px 10px;
    padding-bottom: 20px;
    text-shadow: 30px 30px #0066FF;
    box-shadow: 0px 0px 50px #111;
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
  
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;

    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
